body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#errorMsg {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #42392f;
}

.input-search-init {
    background-color: #f1af63;
    border: 1px solid #a7947d;
    color: #6b5c4c;

}

.input-search-init:focus {
    border: 1px solid #86725e;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(223, 161, 91, 0.31);
    -moz-box-shadow: 0px 0px 14px 0px rgba(124, 107, 88, 0.31);
    box-shadow: 0px 0px 14px 0px rgba(124, 107, 88, 0.31);
}

.div-loader {
    display: flex;
    justify-content: center;
    padding: 10%;
}



.dry-body {
    background-color: #a58e74;
}

.wet-body {
    background-color: #686564;
}

.normal-body {
    background-color: #d1c3e0;
}


/* baixa umidade */
.dry-card {
    background-image: url('../img/frizz-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
}

.input-search-dry {
    border: 1px solid #b3a18d;
    background-color: #ddc7af;
    color: #6b5c4c;
}

.icon-dry {
    color: #6b5c4c;
}

.porcent-dry {
    color: #ffefcd;
}

.humidity-dry {
    color: #ffefcd;
}

.dry-info {
    background-color: #ddc7af;
}

.dry-weather span {
    color: #424530;
}

.dry-simbol {
    background-color: #d39b60;
}



.dry-words {
    color: #eef1d7;
}

.dry-words span {
    color: #424530;
}



/*  normal */
.normal-card {
    background-image: url('../img/semfrizz.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
}

.input-search-normal:focus {
    border: 1px solid #7f669b;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 44, 0.31);
    -moz-box-shadow: 0px 0px 14px 0px rgba(44, 50, 50, 0.31);
    box-shadow: 0px 0px 14px 0px rgba(44, 50, 50, 0.31);
}

.input-search-normal {
    border: 1px solid #5f4a77;
    background-color: #7f669b;
    color: #dcf0e8;
}

.porcent-normal {
    color: #eeebff;
}

.humidity-normal {
    color: #eeebff;
}

.normal-info {
    background-color: #ed8975;
}

.normal-weather span {
    color: #4b5f57;
}

.normal-simbol {
    background-color: #708f82;

}

.normal-words {
    color: #c4bce0;
}

.normal-words span {
    color: #6c688b;
}

.normal-results {
    background-color: #f5f4ac !important;

}




/* alta umidade */

.wet-card {
    background-image: url('../img/frizz-wet.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
}


.input-search-wet:focus {
    border: 1px solid #66799b;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 44, 0.31);
    -moz-box-shadow: 0px 0px 14px 0px rgba(44, 50, 50, 0.31);
    box-shadow: 0px 0px 14px 0px rgba(44, 50, 50, 0.31);
}


.input-search-wet {
    border: 1px solid rgb(97, 98, 110);
    background-color: #c6dada;
    color: #606865;
}

.wet-info {
    background-color: #97d6ac;
}

.porcent-wet {
    color: #eaf8f8;
}

.humidity-wet {
    color: #eaf8f8;
}

.wet-weather span {
    color: #29575f;
}

.wet-words {
    color: #eaf8f8;
}

.wet-words span {
    color: #295856;
}


.wet-simbol {
    background-color: #29575f;
}


.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 8s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #d6d1cf transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 564px) {

    body {
        background-color: #e0ba92;
        
    }

    #card {
        opacity: 0.9;
        width: 90vw;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(22, 26, 26, 0.59);
        -moz-box-shadow: 0px 0px 14px 0px rgba(20, 22, 22, 0.59);
        box-shadow: 0px 0px 14px 0px rgba(6, 7, 7, 0.59);
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        background-color: #f1af63;

    }

    #errorMsg i {
        font-size: 8vw;
    }

    #errorMsg {
        font-size: 3.5vw;
    }

    .content {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

    }

    .rodape {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
        font-size: 5vw;
        color: #ffefcd;
        text-shadow: 2px 2px rgba(51, 45, 45, 0.295);
    }

    .none {
        display: none;
    }

    #search {
        margin: 2vh;
    }


    #input-search {
        width: 80vw;
        height: 10vw;
        border-radius: 10px;
        outline: none;
        font-size: 4vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        text-transform: uppercase;
    }




    #search i {
        position: absolute;
    
    }

    #icon-search {
        padding: 4vw;
        font-size: 4vw;
        cursor: pointer;
    }


    input::placeholder {
        font-size: 4vw;
        color: #6b5c4c;
    }

    #porcent {
        text-align: center;
        font-size: 3vh;
        font-family: 'Montserrat', sans-serif;
        height: 20vh;

    }

    #porcent p {
        margin: 0;
    }


    #humidity {
        margin: 0;
        font-size: 10vw;
        font-family: 'Oswald', sans-serif;
    }

    #city {
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        color: #6b5c4c;
        font-size: 5vw;
        padding-right: 5%;
        width: 50%;

    }


    #results {
        height: 70vh;
        width: 90vw;
        border-radius: 10px;
        background-color: #eef1d7;

    }

    #results-weather {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .more {
        width: 50%;
        padding-left: 5%;
        border-left: 1px solid #d39b60;
        text-align: left;
        color: #6b5c4c;
    }

    #section {
        width: 50%;
        height: 100%;
    }

    #footer {
        padding-left: 5%;
        font-size: 5vw;
        height: 25%;
        display: flex;
        align-items: end;
        justify-content: flex-start;
        color: #999999;
        text-shadow: 2px 2px rgba(145, 130, 130, 0.295);
    }

    #footer i {
        cursor: pointer;
    }

    #info {
        margin: 8%;
        padding: 5%;
        height: 50%;
        border-top: 5px solid #6b5c4c;
        border-left: 1px solid #6b5c4c;
        border-right: 1px solid #6b5c4c;
        border-bottom: 1px solid #6b5c4c;
        border-radius: 10px;
        color: #27291f;
        font-size: 2.6vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    #info span {
        font-size: 3vw;
        font-weight: bolder;
    }



    #blocks {
        align-items: center;
        display: flex;
        width: 100%;
        height: 50%;
    }


    #weather {
        width: 100%;
        height: 50%;
        text-align: center;
        font-size: 4vw;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    #weather span {
        font-size: 3em;
        font-family: 'Caveat', cursive;
        text-align: center;
    }


    #simbol {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-flow: row wrap;
        border-radius: 100% 57% 7% 76% / 100% 10% 5% 57%;
    }


    #words {
        font-size: 12vh;
        font-family: 'Caveat', cursive;
        text-align: center;
    }



    .normal-simbol img {
        height: 40vw;
    }

    .wet-simbol img {
        height: 35vw;
    }

    .dry-simbol img {
        height: 30vh;
        width: 50%;
    }

}

@media screen and (min-width: 565px) {
    body {
        background-color: #e0ba92;
        
    }

    #card {
        opacity: 0.9;
        width: 50vw;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(22, 26, 26, 0.59);
        -moz-box-shadow: 0px 0px 14px 0px rgba(20, 22, 22, 0.59);
        box-shadow: 0px 0px 14px 0px rgba(6, 7, 7, 0.59);
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        background-color: #f1af63;
    }

    #errorMsg i {
        font-size: 8vw;
    }

    .content {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

    }

    .rodape {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
        font-size: 2vw;
        color: #ffefcd;
        text-shadow: 2px 2px rgba(51, 45, 45, 0.295);
    }


    #search {
        margin: 2vh;
    }

    #input-search {
        width: 45vw;
        height: 5vh;
        border-radius: 10px;
        outline: none;
        font-size: 2vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        text-transform: uppercase;
    }


    #search i {
        position: absolute;
    }

    #icon-search {
        padding: 2vh;
        font-size: 1.5vw;
        cursor: pointer;
    }


    input::placeholder {
        font-size: 1.5vw;
        color: #6b5c4c;
    }

    #porcent {
        text-align: center;
        font-size: 2vh;
        font-family: 'Montserrat', sans-serif;
        height: 20vh;

    }

    #porcent p {
        margin: 0;
    }


    #humidity {
        margin: 0;
        font-size: 5vw;
        font-family: 'Oswald', sans-serif;
    }


    #results {
        height: 70vh;
        width: 100%;
        border-radius: 10px;
        background-color: #eceee1;

    }


    #results-weather {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    #city {
        text-transform: uppercase;
        color: #6b5c4c;
        font-size: 2vw;
        padding-right: 5%;
        width: 50%;
    }

    .more {
        width: 50%;
        padding-left: 5%;
        border-left: 1px solid #d39b60;
        text-align: left;
        color: #6b5c4c;
    }

    #section {
        width: 50%;
        height: 100%;
    }

    #footer {
        padding-left: 5%;
        font-size: 3vw;
        height: 32%;
        display: flex;
        align-items: end;
        justify-content: flex-start;
        color: #999999;
        text-shadow: 2px 2px rgba(145, 130, 130, 0.295);
    }

    #footer i {
        cursor: pointer;
    }

    #info {
        margin: 5%;
        padding-top: 5%;
        width: 80%;
        height: 50%;
        font-size: 1.3vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        justify-content: center;
        align-items: center;
        border-top: 5px solid #6b5c4c;
        border-left: 1px solid #6b5c4c;
        border-right: 1px solid #6b5c4c;
        border-bottom: 1px solid #6b5c4c;
        border-radius: 10px;
        color: #27291f;


    }

    #info span {
        font-size: 1.5vw;
        font-weight: bolder;
    }


    #blocks {
        align-items: center;
        display: flex;
        width: 100%;
        height: 50%;
    }


    #weather {
        width: 100%;
        height: 50%;
        color: #424530;
        text-align: center;
        font-size: 2vw;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #weather span {
        font-size: 7vw;
        font-family: 'Caveat', cursive;
        text-align: center;
    }


    #simbol {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-flow: row wrap;
        border-radius: 100% 57% 7% 76% / 100% 10% 5% 57%;
    }


    #words {
        font-size: 10vw;
        font-family: 'Caveat', cursive;
        text-align: center;
    }

    .none {
        display: none;
    }


    .normal-simbol img {
        height: 18vw;
    }


    .wet-simbol img {
        height: 15vw;
    }

    .dry-simbol img {
        height: 27vw;
    }

}

@media screen and (min-width: 800px) {

    #card {
        opacity: 0.9;
        width: 30vw;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 14px 0px rgba(22, 26, 26, 0.59);
        -moz-box-shadow: 0px 0px 14px 0px rgba(20, 22, 22, 0.59);
        box-shadow: 0px 0px 14px 0px rgba(6, 7, 7, 0.59);
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        background-color: #f1af63;
    }

    #errorMsg i {
        font-size: 4vw;
    }

    .content {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

    }

    .rodape {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
        font-size: 2vw;
        color: #ffefcd;
        text-shadow: 2px 2px rgba(51, 45, 45, 0.295);
    }


    #search {
        margin: 2vh;
    }

    #input-search {
        width: 26vw;
        height: 5vh;
        border-radius: 10px;
        outline: none;
        font-size: 1.2vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        text-transform: uppercase;
    }

    #search i {
        position: absolute;

    }

    #icon-search {
        padding: 2vh;
        font-size: 1vw;
        cursor: pointer;
    }


    input::placeholder {
        font-size: 1vw;
        color: #6b5c4c;
    }

    #porcent {
        text-align: center;
        font-size: 2vh;
        font-family: 'Montserrat', sans-serif;
        height: 20vh;

    }

    #porcent p {
        margin: 0;
    }


    #humidity {
        margin: 0;
        font-size: 4vw;
        font-family: 'Oswald', sans-serif;
    }


    #results {
        height: 70vh;
        width: 30vw;
        border-radius: 10px;
        background-color: #eceee1;

    }


    #results-weather {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    #city {
        text-transform: uppercase;
        color: #6b5c4c;
        font-size: 1.5vw;
        padding-right: 5%;
        width: 50%;
    }

    .more {
        width: 50%;
        padding-left: 5%;
        border-left: 1px solid #d39b60;
        text-align: left;
        color: #6b5c4c;
    }

    #section {
        width: 50%;
        height: 100%;
    }

    #footer {
        padding-left: 5%;
        font-size: 2vw;
        height: 32%;
        display: flex;
        align-items: end;
        justify-content: flex-start;
        color: #999999;
        text-shadow: 2px 2px rgba(145, 130, 130, 0.295);
    }

    #footer i {
        cursor: pointer;
    }

    #info {
        margin: 5%;
        padding-top: 5%;
        width: 80%;
        height: 50%;
        font-size: 0.8vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        justify-content: center;
        align-items: center;
        border-top: 5px solid #6b5c4c;
        border-left: 1px solid #6b5c4c;
        border-right: 1px solid #6b5c4c;
        border-bottom: 1px solid #6b5c4c;
        border-radius: 10px;
        color: #27291f;


    }

    #info span {
        font-size: 0.8vw;
        font-weight: bolder;
    }


    #blocks {
        align-items: center;
        display: flex;
        width: 100%;
        height: 50%;
    }


    #weather {
        width: 100%;
        height: 50%;
        color: #424530;
        text-align: center;
        font-size: 1vw;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #weather span {
        font-size: 4vw;
        font-family: 'Caveat', cursive;
        text-align: center;
    }


    #simbol {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-flow: row wrap;
        border-radius: 100% 57% 7% 76% / 100% 10% 5% 57%;
    }


    #words {
        font-size: 6.5vw;
        font-family: 'Caveat', cursive;
        text-align: center;
    }

    .none {
        display: none;
    }

    .normal-simbol img {
        height: 13vw;
    }


    .wet-simbol img {
        height: 10vw;
    }

    .dry-simbol img {
        height: 15vw;
    }

}
